# [AI Backend]
OPENAI_API_KEY=your_openai_api_key_here

# [Hub Backend]
POSTGRES_DB=skn23_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=django-insecure-secret-key-for-local-dev

# [ChromaDB]
CHROMA_DB_PATH=./data_pipeline/vector_db/chroma
